{% extends 'base.html.twig' %} {# TWIG : EXTENDS <=> Permet de placer un gabarit au sein d'un template général // J'hérite du template-thème de base. #}

{% block body %} {# TWIG : Surcharge de blocks <=> On projète du contenu dans les différents blocks du template #}
<h1>{{ title }}</h1> {# Interpolation : {{ var }} <=> Affiche le contenu d'une variable ! #}


{% if age > 18 %} {# Commandes : {% cmd %} <=> Permet d'appeler une commande / structure de contrôle ! / Les commandes c'est tout les traitements possible. #}
    <p>Tu es majeur</p>
{% else %}
    <p>Tu es mineur</p>
{% endif %}


<p>The Promised Neverland est un manga écrit par Kaiu Shirai et dessiné par Posuka Demizu, prépublié depuis août 2016 dans le magazine Weekly Shōnen Jump de l'éditeur Shūeisha. La version française est publiée par Kazé à partir d'avril 2018.</p>

<p>Une adaptation en anime est diffusée pour la première fois entre le 11 janvier et le 29 mars 2019 au Japon sur Fuji TV dans la case horaire noitaminA3 ; la série est diffusée en streaming sur Wakanim et Anime Digital Network dans les territoires francophones4. Une seconde saison est prévue pour janvier 20215. Une adaptation en film live-action est prévue pour décembre 2020</p>

{% endblock %} 