{% extends 'base.html.twig' %}

{% block body %}

<article>
    <h2>Titre de l'article</h2>
    <div class="metadate">Ecrit le 10/05/2018 à 19:00 dans la catégorie Politique</div>
    <div class="content">
        <img src="http://placehold.it/350x150" alt="">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates omnis temporibus adipisci voluptatem enim. Rerum.</p>
        <p>Laboriosam asperiores nesciunt quibusdam nam, accusamus voluptatum. Accusamus aliquam earum qui velit, in totam at.</p>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error impedit aliquid rerum corrupti fugit in vero! Possimus, similique eius libero ducimus, maiores pariatur recusandae optio ea ipsa vitae, dicta impedit! Neque quis, corrupti obcaecati sunt assumenda recusandae? Tempore, hic! Doloremque iure et accusantium delectus molestiae quaerat voluptatem eum ratione. Nostrum.</p>
        <p>Fuga, repellat molestiae! Voluptates quas eos quae tenetur facere unde blanditiis temporibus pariatur, nisi dolorum nemo ipsam eveniet repellendus vero, vitae expedita illo beatae est quisquam iste animi ullam fugit? Ipsam mollitia eaque, molestias voluptates quibusdam inventore quos quo a, iste quisquam expedita aspernatur voluptatibus explicabo maxime cumque magnam. Obcaecati.</p>
    </div>
</article>

{% endblock %}